.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 23, 93);
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-left: 100px;
    color: yellow;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;

}

.links a{
    margin-left: 50px;
    text-decoration: none;
    font-size: 24px;
    color: yellow;

}

.links a:hover{
    background-color: rgb(102, 0, 255);
    border: none;
    border-radius: 10px;

}
